{% extends '/frontoffice/layout.html.twig' %}
{% block title %}Toutes les reviews{% endblock %}

{% block content %}
    <section id="reviews_list">

        {% for review in reviews %}
            
            <div class="review_card">
                <input type='hidden' class="api_game_id" value={{ review.apiGameId }} />
                <img class='reviewsListImage' alt='Image de {{ review.gameTitle }}' />
                <div class="review_details">
                    <div class="title_comments">
                        <h3 class="review_title">{{ review.reviewTitle|raw }}</h3>
                        <span class="comments_number"><i class="fas fa-comments"></i>2</span>
                    </div>
                    <span class="author_date">De {{ review.reviewer }} | {{ review.reviewDate }}</span>
                    <p class="review_extract">
                        {{ review.content|raw }}...
                    </p>
                    <button class="read_full"><a href='index.php?action=review&id={{ review.id }}'>Lire la suite</a></button>
                </div>
            </div>

        {% endfor %}

        <div id="pagination">
            <span id="actual_total">Page {{ page }} / {{ totalPages }}</span>
            <span id="navigation_buttons">
                {% if page > 1 %}
                    <a href='index.php?action=all_reviews&page={{ page - 1 }}'><i class='fas fa-arrow-circle-left'></i></a>
                {% endif %}
                {% if page < totalPages %}
                    <a href='index.php?action=all_reviews&page={{ page + 1 }}'><i class='fas fa-arrow-circle-right'></i></a>
                {% endif %}
            </span>
        </div>
    </section>

{% endblock %}