{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block banner %}
    <img id="headband" src="images/headband.jpg" alt="Bannière : Figurines de Mario, Luigi et Yoshi" />
{% endblock %}

{% block content %}

<section id='latest_reviews'>
    <h2>LES DERNIERES REVIEWS</h2>
        <div id="cards">
            {% for post in posts %}
                <section class="card">
                    <span class="api_game_id">{{ post.apiGameId }}</span>
                    <a href='index.php?action=review&id={{ post.reviewId }}'><img class="thumbnail_image_home" /></a>
                    <div class='thumbnail_infos'>
                        <h3 class="thumbnail_title">{{ post.reviewTitle|raw }}</h3>
                        <div class="author_comments">
                            <span class='pseudo_date'>{{ post.username }} | {{ post.reviewDate|date('d/m/Y - H:i:s') }}</span>
                            <span class="comments_number"><i class="fas fa-comments"></i>
                                {{ post.nbComments }}
                            </span>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    <button class="show_all"><a href='index.php?action=all_reviews&page=1'>TOUTES LES REVIEWS</a></button>
</section>
{% endblock %}
