{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Tous les posts{% endblock %}

{% block banner %}
    <img id="headband" src="images/headband.jpg" alt="Bannière : Figurines de Mario, Luigi et Yoshi" />
    <h1>Bienvenue sur Multitap, où chaque avis compte !</h1>
{% endblock %}

{% block content %}
<section id='latest_reviews'>
    <h2>LES DERNIERES REVIEWS</h2>
        <div id="cards">
            {% for post in posts %}
                <section class="card">
                    <a href='index.php?action=post&id={{ post.id }}'><img src= 'images/{{ post.image }}' alt= {{ post.image }} class="thumbnail" /></a>
                    <div class='thumbnail_infos'>
                        <h3 class="thumbnail_title">{{ post.reviewTitle }}</h3>
                        <div class="author_comments">
                            <span class='pseudo_date'>{{ post.reviewer }} | {{ post.date }}</span>
                            <span class="comments_number"><i class="fas fa-comments"></i>2</span>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    <button class="show_all"><a href='reviews.html'>TOUTES LES REVIEWS</a></button>
</section>
{% endblock %}
