{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Nouveau jeton{% endblock %}

{% block content %}

<form action="index.php?action=get_new_token&id={{ newUser.userId }}" method='post' id="new_token_form">
    <fieldset>
        <legend>{{ session.flashMessage }}</legend>
        <div class='label_and_input'>
            <label for="username">Nom d'utilisateur</label>
            <input class='username_input' type="text" name='username'
                readonly
                maxlength='50'
                value='{{ newUser.username }}'>
        </div>
        <div class='label_and_input'>
            <label for="email">Adresse mail</label>
            <input class='email_input' 
                type="email" 
                name='email' 
                readonly
                value='{{ newUser.email }}'>
        </div>
        <input class='inscription_button' type="submit" value="Obtenir un nouveau jeton">
        <input type="hidden" name='hidden_input_token' class="hidden_input_token" value={{ session.token }}>
    </fieldset>
</form>

{% endblock %}