{% extends "/frontoffice/layout.html.twig" %}

{% block title %}
    {{ post.reviewTitle }}
{% endblock %}

{% block banner %}
    <img id='headband' src='images/{{ post.image }}' alt='Image de {{ post.gameTitle }}' />
{% endblock %}

{% block reviewTitle %}
    <h1 id="review_title">{{ post.reviewTitle }}</h1>
    <span id="author_date">De {{ post.reviewer }}, le {{ post.date }}</span>
{% endblock %}

{% block content %} 
    
<section id="review_container">
    <div id="review">
        <p>{{ post.text }}</p>
    </div>
    <aside id="game_info">
        <h2 class='game_title'></h2>
        <span id="api_game_id">{{ post.apiGameId }}</span>
        <img src='images/{{ post.image }}' alt='icone de {{ post.gameTitle }}' />
        <ul>
            <li>Développeurs : <span class='developers'></span></li>
            <li>Sortie : <span class='out'></span></li>
            <li>Genre : <span class='genre'></span></li>
            <li>Machines : <span class='platforms'>PS4, XBOX, Switch, PC</span></li>
            <li>Tags : <a href="#">{{ post.gameTitle }}</a>, <a class='tags' href="#">{{ post.reviewer }}</a></li>
        </ul>
        <iframe width="383.31" height="300" src="https://www.youtube.com/embed/RvGaSPTcTxc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </aside>
</section>

<section id="comments_area">
    <section id='comment_form_container'>
        <p id='login_before_comment'>Vous devez être connecté pour poster un commentaire</p>
        <!--<form id='comment_form' action="#" method="post">
            <input type="text" name='pseudo'/>
            <textarea name='comment' cols="40" rows="20">Votre commentaire ici</textarea>
        </form>-->
    </section>

    <section id="comments_list">
        {% for comment in comments %}
        <div class="comment">
            <div class="comment_header">
                <p>{{ comment.pseudo }}, le {{ comment.commentDate }}</p>
                <div class="comment_rank">
                    <span class="thumbs_up"><i class='fas fa-thumbs-up'></i>{{ comment.thumbsUp }}</span>
                    <span class="thumbs_down"><i class='fas fa-thumbs-down'></i>{{ comment.thumbsDown }}</span>
                </div>
            </div>
            <div class="comment_content">
                {{ comment.text }}
            </div>
        </div>
        {% endfor %}
    </section>
</section>

{% endblock %}
