{% extends '/frontoffice/layout.html.twig' %}

{% block title %}Reviews d'un membre{% endblock %}
{% block sectionTitle %}<h1 id='section_title'>Toutes les reviews publiées par {% autoescape false %}{{ username }}{% endautoescape %}</h1>{% endblock %}

{% block content %}
    <section id='reviews_list'>
        {% for review in reviews %}
            {% autoescape false %}
            <div class='review_card'>
                <input type='hidden' class="api_game_id" value={{ review.apiGameId }} />
                <img class='reviewsListImage' alt='Image de {{ review.gameTitle }}' />
                <div class="review_details">
                    <div class="title_comments">
                        <h3 class="review_title">{{ review.reviewTitle|htmlspecialchars_decode }}</h3>
                    </div>
                    <span class="author_date">De {{ username }} | {{ review.reviewDate|date('d/m/Y - H:i:s') }}</span>
                    <div class="review_extract">
                        {{ review.content|htmlspecialchars_decode }}...
                    </div>
                    <button class="read_full"><a href='index.php?action=review&id={{ review.reviewId }}'>Lire la suite</a></button>
                </div>
            </div>
            {% endautoescape %}
        {% endfor %}
    </section>
{% endblock %}