{% extends "/frontoffice/layout.html.twig" %}

{% block title %}Review{% endblock %}

{% block banner %}
    <img id='headband' alt='Image de {{ post.gameTitle|raw }}' />
{% endblock %}

{% block reviewTitle %}
    <h1 id="review_title">{{ post.reviewTitle }}</h1>
    <span id="author_date">De {{ post.reviewer }}, le {{ post.reviewDate }}</span>
{% endblock %}

{% block content %} 
    
<section id="review_container">
    <div id="review">
        <p>{{ post.content|raw }}</p>
    </div>
    <aside id="game_info">
        <h2 class='game_title'></h2>
        <span class="api_game_id">{{ post.apiGameId }}</span>
        <img id='additional_image' alt='icone de {{ post.gameTitle }}' />
        <ul>
            <li>Développeurs : <span class='developers'></span></li>
            <li>Sortie : <span class='out'></span></li>
            <li>Genre : <span class='genre'></span></li>
            <li>Machines : <span class='platforms'>PS4, XBOX, Switch, PC</span></li>
            <li>Tags : <a class='tags' href="#">{{ post.gameTitle }}</a>, <a class='tags' href="#">{{ post.reviewer }}</a></li>
        </ul>
        <span id='video_link'></span>
        <iframe id='video' width="383.31" height="300" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </aside>
</section>

<section id="comments_area">

    <section id='comment_form_container'>
        <p id='login_before_comment'>Vous devez être connecté pour poster un commentaire</p>

        {% if session.flashMessage %}
            <p id="comment_flash_message">{{ session.flashMessage }}</p>
        {% endif %}

        <form id='comment_form' action="index.php?action=new_comment&id={{ post.id }}" method="post">
            <input type="text" id='pseudo' name='pseudo' placeholder="Pseudonyme"/>
            <textarea id='comment_content' name='comment' cols="40" rows="20" placeholder="Votre commentaire ici"></textarea>
            <input id='submit_btn' type='submit' value='Envoyer'/>
            <input name='hidden_input' type='hidden' value={{ session.token }} />
        </form>

    </section>

    <section id="comments_list">
        {% for comment in comments %}
        <div class="comment">
            <div class="comment_header">
                <p>{{ comment.pseudo|raw }}, le {{ comment.commentDate }}</p>
                <div class="comment_rank">
                    <span class="thumbs_up">
                        <a href="index.php?action=thumb_up&id={{ comment.id }}&actual_likes={{ comment.thumbsUp }}&actual_dislikes={{ comment.thumbsDown }}&review={{ comment.reviewId }}&actual_status={{ comment.commentStatus }}">
                            <i class='fas fa-thumbs-up'></i>
                        </a>{{ comment.thumbsUp }}
                    </span>
                    <span class="thumbs_down">
                        <a href="index.php?action=thumb_down&id={{ comment.id }}&actual_dislikes={{ comment.thumbsDown }}&actual_likes={{ comment.thumbsUp }}&review={{ comment.reviewId }}&actual_status={{ comment.commentStatus }}">
                            <i class='fas fa-thumbs-down'></i>
                        </a>{{ comment.thumbsDown }}
                    </span>
                    {% if comment.commentStatus == 0 %}
                    <span class="flag">
                        <a title="Signaler un commentaire" href="index.php?action=flag_comment&id={{ comment.id }}&review={{ comment.reviewId }}&actual_likes={{ comment.thumbsUp }}&actual_dislikes={{ comment.thumbsDown }}">
                            <i class='fas fa-flag'></i>
                        </a>
                    </span>
                        {% elseif comment.commentStatus == 1 %}
                            <span class="moderating">
                                <i title="Modération en cours" class="fas fa-spinner"></i>
                            </span>
                        {% elseif comment.commentStatus == 2 %}
                            <span class="valid_comment">
                                <i title="Commentaire validé" class="fas fa-check"></i>
                            </span>
                    {% endif %}
                </div>
            </div>
            <div class="comment_content">
                {{ comment.content|raw }}
            </div>
        </div>
        {% endfor %}
    </section>
</section>

{% endblock %}
