{% extends '/backoffice/layout.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block content %}
<section id="user_reviews">
    <h1 class='dashboard_section_title'>Mes reviews publiées</h1>
    <div class="dashboard_review_details">
        <table id="reviews_table">
            <thead>
                <tr>
                    <th>TITRE</td>
                    <th>JEU</th>
                    <th>DATE DE PUBLICATION</td>
                    <th colspan="2">ACTION</td>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr class='review_line'>
                    <td>{{ review.reviewTitle|raw }}</td>
                    <td>{{ review.gameTitle|raw }}</td>
                    <td>{{ review.reviewDate|date('d/m/Y - H:i:s') }}</td>
                    {% if session.userRank != 'ROLE_REVIEWER' %}
                        <td><a href="index.php?action=delete_review&id={{ review.reviewId }}"><button class='dash_button'>Supprimer</button></a></td>
                    {% endif %}
                    <td><a href="index.php?action=update_review_page&id={{ review.reviewId }}"><button class='dash_button'>Modifier</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}