{% extends '/backoffice/layout.html.twig' %}

{% block content %}
<section id="user_reviews">
    <h1>Mes reviews publiées</h1>
    <div class="dashboard_review_details">
        <table id="reviews_table">
            <thead>
                <tr>
                    <th>TITRE</td>
                    <th>JEU</th>
                    <th>DATE DE PUBLICATION</td>
                    <th colspan="2">ACTION</td>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr class='review_line'>
                    <td>{{ review.reviewTitle }}</td>
                    <td>{{ review.gameTitle }}</td>
                    <td>{{ review.reviewDate }}</td>
                    <td><a href="index.php?action=delete_review&id={{ review.id }}"><button class='dash_button'>Supprimer</button></a></td>
                    <td><a href="index.php?action=edit_review&id={{ review.id }}"><button class='dash_button'>Modifier</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}