{% extends '/backoffice/layout.html.twig' %}

{% block content %}
{% autoescape false %}

    <section id="edit_review">

        <h1>Modification d'une review</h1>

        <form class="review_modification" method='post'>
            <input class='form_game_id' type='hidden' name='game_id' value="{{ review.apiGameId }}"/>
            <input type='hidden' class='form_token' name='hidden_input_token' value={{ session.token }}>
            <input type='hidden' class='form_reviewer' name='reviewer' value="{{ session.userId }}"/>
            <p>Titre du jeu : <input class='form_game_title' type="text" name='game_title' readonly='readonly' value="{{ review.gameTitle }}"></input></p>
            <div>
                <label for="review_title">Titre de la Review : </label>
                <input class='form_review_title' 
                    type="text" 
                    name='review_title' 
                    value="{{ review.reviewTitle }}" />
            </div>
            <textarea name="review_modification" class="review_modification">
                {{ review.content|htmlspecialchars_decode }}
            </textarea>
            {% if review.reviewStatus == 2 %}
                <input type='submit' formaction='index.php?action=validate_review&id={{ review.reviewId }}' name='edit_and_validate' value='Enregistrer les modifications et valider'/>
                {% elseif review.reviewStatus == 0 %}
            <input type='submit' formaction='index.php?action=update_review&id={{ review.reviewId }}' name='edit' value='Enregistrer les modifications'/>
            {% endif %}
        </form>
    
    </section>
{% endautoescape %}
{% endblock %}

{% block javascript %}

    <script>tinymce.init({
        selector: "textarea",
        toolbar_mode: 'floating'
        });
    </script>


{% endblock %}