{% extends '/backoffice/layout.html.twig' %}

{% block title %}Modification brouillon{% endblock %}

{% block content %}

    <section id="edit_review">

        <h1 class='dashboard_section_title'>Modification d'un brouillon</h1>

        <form class="review_modification" method='post'>
            <input class='form_game_id' type='hidden' name='game_id' value="{{ draft.apiGameId }}"/>
            <input type='hidden' class='form_token' name='hidden_input_token' value={{ session.token }} >
            <input type='hidden' class='form_reviewer' name='reviewer' value="{{ session.userId }}"/>
            <p>Titre du jeu : <input class='form_game_title' type="text" name='game_title' readonly='readonly' value="{{ draft.gameTitle }}"></input></p>
            <div>
                <label for="review_title">Titre de la Review : </label>
                <input class='form_review_title'
                    type="text" 
                    name='draft_title' 
                    value="{{ draft.reviewTitle }}" />
            </div>
            <textarea name="draft_modification" class="review_modification">
                {% autoescape false %}
                    {{ draft.content }}
                {% endautoescape %}
            </textarea>
            <input type='submit' formaction='index.php?action=publish_draft&id={{ draft.reviewId }}' name='publish' value='Publier'/>
            <input type='submit' formaction='index.php?action=update_draft&id={{ draft.reviewId }}' name='edit' value='Enregistrer les modifications'/>
        </form>
    
    </section>

{% endblock %}

{% block javascript %}

    <script>tinymce.init({
        selector: "textarea",
        toolbar_mode: 'floating'
        });
    </script>

{% endblock %}