{% extends '/backoffice/layout.html.twig' %}

{% block title %}Gestion des membres{% endblock %}
{% block userAlert %}
    {% if userDemand != 'none' in users %}
        demande trouvé
    {% endif %}
{% endblock %}

{% block content %}

<section id='members'>

    <h1 class='dashboard_section_title'>Gestion des membres et des rôles</h1>
    <div class="members_list">
        <table id="members_table">
            <thead>
                <tr>
                    <th>Nom d'utlisateur</th>
                    <th>Rang actuel</th>
                    <th>Rang demandé</th>
                    <th colspan='3' class='action_field'>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="members_line">
                        <td>{{ user.username }}</td>
                        <td>{{ user.userRank }}</td>
                        <td>
                            {% if user.userDemand != 'none' %}
                                    {{ user.userDemand }}
                                {% else %}
                                    Aucune demande en cours
                            {% endif %}
                        </td>
                        <td><a href='index.php?action=deleteUser&id={{ user.userId }}'><button class='dash_button'>Supprimer le compte</button></a></td>
                        {% if user.userDemand != 'none' %}
                            <td><a href='index.php?action=change_rank_validation&id={{ user.userId }}'><button class='dash_button'>Changer le rôle</button></a></td>
                            <td><a href='index.php?action=cancel_rank_demand&id={{ user.userId }}'><button class='dash_button'>Annuler la demande</button></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

{% endblock %}