{% extends '/backoffice/layout.html.twig' %}

{% block title %}Reviews à valider{% endblock %}

{% block userAlert %}
    {% for user in users %}
        {% if user.userDemand != 'none' %}
            <i class='fas fa-exclamation-circle'></i>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
<section id="user_reviews">
    <h1 class='dashboard_section_title'>Reviews à valider</h1>
    <div class="dashboard_review_details">
        <table id="reviews_table">
            <thead>
                <tr>
                    <th>REVIEWER</th>
                    <th>TITRE</td>
                    <th>JEU</th>
                    <th>DATE D'ENVOI</td>
                    <th colspan="2">ACTION</td>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                <tr class='review_line'>
                    <td>{{ review.username }}</td>
                    <td>{{ review.reviewTitle|raw }}</td>
                    <td>{{ review.gameTitle|raw }}</td>
                    <td>{{ review.reviewDate }}</td>
                    <td><a href="index.php?action=update_review_page&id={{ review.reviewId }}"><button class='dash_button'>Voir</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}